*{
margin: 0;
padding: 0;

}

body{
font-family: sans-serif, arial;
font-size: 16;
background: skyblue;


}
.contenedor{
	width: 1000px;
	margin: 20px;
}

header{
	background: white;
}

headr nav{width: 100%;

}


header nav ul{width: 100%;
	overflow: hidden;}
header nav ul li{float:left;
list-style: none;


}
header nav ul li a{
	text-decoration: none;/*eliminar subrayado*/
	display: inline-block;/*muestra como bloques*/
	padding: 15px 20px ;
	color: black;

}


header nav ul li a:hover{
	background: #AD4C17;
color:#F4FD80;



}
.main{ 
width:680px;
float: left;
 }

 .main .imagen{
 	width: 100%;

 }
.main .imagen img{
	width: 100%;
}
.main .post{
	padding: 40px;
}
.main .post h2{
	color: black;
margin-bottom: 20px;

}
.main .post p{
	line-height: 27px;
	margin-bottom: 15px;
	color: darkorchid;
}
aside{
	width: 280px;
	padding: 20px;
	background: darkgoldenrod;
	color: white;
	overflow: hidden;
}
aside .widget{
	margin-bottom: 20px;

}
aside .widget .titulo{
color: black;
border: 1px solid white;
margin-bottom: 15px;


}
aside .widget ul{
list-style: none;

}
aside .widget ul li{
	border: 1px solid;
	padding: 15px 0px;
}
aside .widget ul li{
	text-decoration: none;
	color: darkred;
	display: inline-block;
}
aside .widget ul li{
	color: black;
	background: grey;

}
asie .widget p{
	line-height: 27px;
	text-align: justify;
}